:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;
}

a {
  text-decoration: inherit;
}
a:hover {
}

body {
}

h1 {
}

button {
  border-radius: 9px;
  border: 1px solid transparent;

  font-size: 1em;
  font-weight: 300;
  background-color: red;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
